<div class="text-lg font-semibold mb-4">Please Support Independent Media</div>
<p class="mb-4">
  Many of Anbamap's sources rely on user support to stay afloat. Please consider
  donating to these sources, joining their mailing lists, and engaging with
  their content on their sites! To see Anbamap's sources, and to learn how to
  use Anbamap, please check out the <a
    href="/faq"
    class="text-blue-500 underline">FAQ page</a
  >.
</p>

<div class="text-lg font-semibold mb-4">What purposes does Anbamap serve?</div>
<p class="mb-4">
  Anbamap serves to make independent, anti-imperialist, left-aligned news and
  analysis more accessible by collecting it into one place. Anbamap aims to
  foster global awareness by visually representing current news with a world
  map.
</p>

<div class="text-lg font-semibold mb-4">Why was Anbamap made?</div>
<p class="mb-4">
  Anbamap was made by a University of Colorado: Denver student in the spring and
  summer of 2024. Western mainstream media's coverage of Palestinian current
  events, including the Boycott, Divestment, and Sanctions movements on my
  campus, is but an instance of empire managers' systems of narrative control
  that operate seemingly omnipresent in the US bubble I live in. However small,
  I want to make a dent in this presence by making anti-establishment media more
  accessible, and to lessen the navel-gazing of people like me, who live in
  these bubbles.
</p>

<div class="text-lg font-semibold mb-4">Who are you?</div>
<p class="mb-4">
  My name is Matthew, I'm:<br />
  - A lifelong Denverite<br />
  - Computer Science major<br />
  - 21 at the time of Anbamap's release<br /><br />
  I want to spend my time making the world a better place. To know more, or contact:
  <a href="https://linktr.ee/lichenaut" class="text-blue-500 underline"
    >https://linktr.ee/lichenaut</a
  >
</p>

<div class="text-lg font-semibold mb-4">Why is this website ugly?</div>
<p class="mb-4">
  I'm no designer (at the time of writing this), and given I don't know how much
  this site will be used, I decided it's best to leave the bells, whistles, and
  pretty designs for after Anbamap gains traction.
</p>

<div class="text-lg font-semibold mb-4">Privacy Information</div>
<p class="mb-4">
  Anbamap uses your browser's local storage to keep track of your favorite
  regions. It also runs JavaScript that uses your local time to localize the
  dates and times of news. If you don't like this, feel free to not use the
  favorites feature, consider using a browser plugin like NoScript, or use a
  more privacy-oriented browser like LibreWolf. Please see the <a
    href="/faq"
    class="text-blue-500 underline">FAQ page</a
  > to view the source code.
</p>
