---
import LeafletDarkC from "../components/LeafletDarkC.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>lichenaut's Anbamap</title>
    <link rel="stylesheet" href="/src/leaflet/leaflet.css" />
  </head>
  <body class="bg-custom-gray">
    <LeafletDarkC />
  </body>
</html>
