<div class="text-lg font-semibold mb-4">What is Anbamap?</div>
<p class="mb-4">
  Anbamap collects news and organizes it onto an interactive map, updated every
  20 minutes. The more red a region is, the more news entries it has in the past
  36 hours. The <a href="/about" class="text-blue-500 underline">About page</a> has
  more information.
</p>

<div class="text-lg font-semibold mb-4">How do I use Anbamap?</div>
<p class="mb-4">
  Simply click on a region to view its list of news, organized by day. In the
  region's page, you can visit news pages, go to previous days, view other
  regions with Geokeys, go back to the map, or favorite the region. You can
  visit your favorites by clicking the favorites icon when viewing the map.
  There are two world buttons: one for world light mode, and one for world dark
  mode.
</p>

<div class="text-lg font-semibold mb-4">What are the news sources?</div>
<p class="mb-4">
  Links that Anbamap scrapes can be found here: <a
    href="https://github.com/lichenaut/anbamap-scraper?tab=readme-ov-file#environment-variables"
    class="text-blue-500 underline"
    >https://github.com/lichenaut/anbamap-scraper?tab=readme-ov-file#environment-variables</a
  >
</p>

<div class="text-lg font-semibold mb-4">Where's the source code?</div>
<p class="mb-4">
  Scraper: <a
    href="https://github.com/lichenaut/anbamap-scraper"
    class="text-blue-500 underline"
    >https://github.com/lichenaut/anbamap-scraper</a
  ><br />Website: <a
    href="https://github.com/lichenaut/anbamap-website"
    class="text-blue-500 underline"
    >https://github.com/lichenaut/anbamap-website</a
  >
</p>

<div class="text-lg font-semibold mb-4">How long does data last?</div>
<p class="mb-4">One week.</p>
