---
import FaviconC from "../components/FaviconC.astro";
import OpacityC from "../components/leaflet/OpacityC.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <FaviconC />
    <title>Anbamap</title>
    <link rel="stylesheet" href="leaflet.css" />
  </head>
  <body class="bg-custom-blue">
    <OpacityC isDark={false} />
  </body>
</html>
