---
const { page, previous, next, origin, region } = Astro.props;
---

<div class="p-2 mt-2 w-fit mx-auto flex rounded-lg">
  <div class="pr-2">
    <a
      href={previous}
      class={`${page === 1 ? "invisible pointer-events-none" : ""}`}
    >
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">Next Day</p>
      </button>
    </a>
  </div>
  <div class="flex justify-center">
    <a href={origin + "/" + region + "-1"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">1</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-2"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">2</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-3"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">3</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-4"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">4</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-5"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">5</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-6"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">6</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-7"}>
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">7</p>
      </button>
    </a>
  </div>
  <div class="pl-2">
    <a
      href={next}
      class={`${page === 7 ? "invisible pointer-events-none" : ""}`}
    >
      <button class="inline-block p-1 rounded-lg">
        <p class="text-custom-white hover:underline">Prev Day</p>
      </button>
    </a>
  </div>
</div>
