<div class="pb-2 border-b border-gray-800"></div>
<div class="p-2 flex mx-auto justify-between">
  <a
    href="https://www.flaticon.com/"
    title="world icons"
    class="text-gray-800 text-xl hover:underline"
    >Icons created by Pixel perfect, prettycons - Flaticon</a
  >
</div>
