---
interface Props {
  page: number;
  previous: string;
  next: string;
  origin: string;
  region: string;
}

const { page, previous, next, origin, region }: Props = Astro.props;
---

<div class="p-2 mt-2 w-fit mx-auto flex rounded-lg">
  <div class="pr-2">
    <a
      href={previous}
      class={`${page === 1 ? "invisible pointer-events-none" : "hover:bg-gray-100 border border-gray-800 p-1 rounded-lg"}`}
    >
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800">Next Day</p>
      </button>
    </a>
  </div>
  <div class="flex justify-center">
    <a href={origin + "/" + region + "-1"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">1</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-2"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">2</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-3"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">3</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-4"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">4</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-5"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">5</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-6"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">6</p>
      </button>
    </a>
    <a href={origin + "/" + region + "-7"}>
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800 hover:underline">7</p>
      </button>
    </a>
  </div>
  <div class="pl-2">
    <a
      href={next}
      class={`${page === 7 ? "invisible pointer-events-none" : "hover:bg-gray-100 border border-gray-800 p-1 rounded-lg"}`}
    >
      <button class="inline-block p-1 rounded-lg" role="button">
        <p class="text-gray-800">Prev Day</p>
      </button>
    </a>
  </div>
</div>
