---
interface Props {
  regionCode: string;
  regionName: string;
  pageNumber: number;
}

let { regionCode, regionName, pageNumber }: Props = Astro.props;
---

<div
  id="regionInfo"
  data-region-code={regionCode}
  data-region-name={regionName}
  data-page-number={pageNumber}
>
</div>
<script>
  import { DateTime } from "luxon";
  import * as datasetService from "../../services/dataset_service";

  function convertTimestamps() {
    let regionElement = datasetService.getElementById("regionInfo");
    let regionName: string = datasetService.getDatasetValue(
      regionElement,
      "regionName"
    );
    let regionCode: string = datasetService.getDatasetValue(
      regionElement,
      "regionCode"
    );
    let pageNumber: number =
      parseInt(datasetService.getDatasetValue(regionElement, "pageNumber")) - 1;
    let titleElement: HTMLElement | null = document.querySelector("title");
    if (!titleElement) {
      return;
    }

    let headerElement: HTMLElement | null =
      document.querySelector("p.text-4xl");
    if (!headerElement) {
      return;
    }

    let pageDate: string = DateTime.fromSeconds(
      Math.floor(Date.now() / 1000) - pageNumber * 86400
    )
      .setZone(Intl.DateTimeFormat().resolvedOptions().timeZone)
      .toLocaleString(DateTime.DATETIME_FULL)
      .substring(0, 13);
    titleElement.textContent = regionCode.toUpperCase() + " " + pageDate;
    headerElement.textContent = regionName + " " + pageDate;
    let mediaList: HTMLElement | null = document.getElementById("mediaList");
    if (!mediaList) {
      return;
    }

    let mediaEntries: Element[] = Array.from(mediaList.children);
    mediaEntries.forEach((entry) => {
      let timeElement: Element = Array.from(
        entry.querySelectorAll("p.text-gray-600")
      )[0];
      let timeString: string | null = timeElement.textContent;
      if (timeString === null) {
        return;
      }

      let time: number = parseInt(timeString);
      let localTime: string = DateTime.fromSeconds(time)
        .setZone(Intl.DateTimeFormat().resolvedOptions().timeZone)
        .toLocaleString(DateTime.DATETIME_FULL);
      if (!localTime.includes(pageDate)) {
        entry.remove();
        return;
      }

      timeElement.textContent = localTime;
    });
  }

  window.addEventListener("DOMContentLoaded", convertTimestamps);
</script>
