---
import { Image } from "astro:assets";
import worldImage from "../../assets/world.png";
import worldImageInverted from "../../assets/world_invert.png";

interface Props {
  origin: string;
}

let { origin } = Astro.props;
---

<div
  class="flex flex-col"
  style="position: fixed; top: 10px; left: 10px; size-fit"
>
  <a href={origin} class="mb-1">
    <button class="inline-block" role="button" aria-label="Light Map">
      <Image
        src={worldImage}
        alt="world icon"
        width={50}
        height={50}
        loading="eager"
      />
    </button>
  </a>
  <div class="border-2 border-white mx-auto w-12"></div>
  <a href={origin + "/dark"} class="mt-3">
    <button class="inline-block" role="button" aria-label="Dark Map">
      <Image
        src={worldImageInverted}
        alt="world icon"
        width={50}
        height={50}
        loading="eager"
      />
    </button>
  </a>
</div>
