---
import star from "../../assets/star.png";
import star_invert from "../../assets/star_invert.png";
import { Image } from "astro:assets";

interface Props {
  isDark: boolean;
}

let { isDark } = Astro.props;
---

<div
  class={`bg-white flex flex-col size-10 border-2 ${isDark === true ? "border-leaflet-dark-gray" : "border-leaflet-gray"} rounded-sm pt-1 pl-1 pr-1`}
  style="position: fixed; top: 12px; right: 12px; z-index: 1000;"
  title="Favorites"
>
  <a
    href={isDark === true
      ? Astro.request.url.replace("dark", "favorites")
      : Astro.request.url + "favorites"}
  >
    <button class="inline-block" role="button" aria-label="Favorites">
      <Image
        src={star}
        alt="favorites icon"
        width={50}
        height={50}
        class="rounded-lg"
        loading="eager"
      />
    </button>
  </a>
</div>
