---
import star from "../../assets/star.png";
import { Image } from "astro:assets";

interface Props {
  isDark: boolean;
}

let { isDark }: Props = Astro.props;
---

<div
  class={`border-2 border-black border-opacity-20 size-10`}
  style="position: fixed; top: 57px; right: 10px; border-radius: 5px; z-index: 1000;"
  title="Favorites"
>
  <div
    class="bg-white hover:bg-gray-100 size-9 pt-1 pl-1 pr-1"
    style="border-radius: 3px;"
  >
    <a
      href={isDark === true
        ? Astro.request.url.replace("dark", "favorites-1")
        : Astro.request.url + "favorites-1"}
    >
      <button role="button" aria-label="Favorites">
        <Image
          src={star}
          alt="favorites icon"
          width={50}
          height={50}
          loading="eager"
        />
      </button>
    </a>
  </div>
</div>
